.main{
    display: flex;
    justify-content: space-around;
    
}

/*Lado esquerdo*/
.titulo{
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
}
.palpites{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    width: 40%;
    height: 70vh;
    background-color: rgba(0, 0, 0, 0.795);
    border-radius: 20px;
    box-shadow: 0px 10px 40px rgba(93, 59, 243, 0.911);
    color: aliceblue;
}

.winner-east{
    margin-top: 30px;
}

.winner-west{
    margin-top: 30px;
}

.winner-nba{
    margin-top: 30px;
}

.select{
    border: 2px solid rgba(35, 0, 92, 0.658);
    border-radius: 10px;
}

.select:hover{
    box-shadow: rgb(132, 0, 255);
}

.button-palpite{
    margin-top: 30px;
    padding: 5px 25px 5px 25px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
}

.button-palpite:hover{
    cursor: pointer;
    box-shadow: rgb(167, 73, 255);
}





/*lado direito*/
.rank{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    width: 40%;
    height: 70vh;
    background-color: rgba(0, 0, 0, 0.795);
    border-radius: 20px;
    box-shadow: 0px 10px 40px rgba(93, 59, 243, 0.911);
    color: aliceblue;
}

#div_palpites{
    font-size: 20px;
}

#div_times_fav{
    font-size: 20px;
}